.bentoLinks {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.25rem 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.icon {
  object-fit: contain;
}
