.timeline {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(135deg, #3b82f6, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  > div {
    margin: 0 auto;
  }
}
